body{
    margin: 0;
    padding: 0;
}
.container{
    text-align:center;
    margin-top: 120px;
    
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: "montserrat";
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  a{
      position: absolute;
      top: 40%;
      left: 40%;
      /*
      transform: translate (-50%, -50%);
      */
      width: 400px;
      height: 120px;
      text-align: center;
      line-height: 120px;
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: sans-serif;
      box-sizing: border-box;
      background: linear-gradient(90deg,#03a9f4,#41f45f,#03a9f4,#41f45f)
      
  }