body{
    margin: 0;
    padding: 0;
    background: rgb(83, 83, 83);
}
/*
input[type=text] {
    background-color: rgb(255, 255, 255);
    color: white;
  }
  */

.header
{
    color: rgb(0, 0, 0);
    font-family:"Times New Roman", Times, serif;
}
.subheader{
    position: absolute;
    left: 1%;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;

}
.container{
    text-align:center;
    margin-top: 120px;
    
}
.btn {
    background-color: rgb(161, 161, 161); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: "montserrat";
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  a{
      position: absolute;
      top: 30%;
      left: 40%;
      /*
      transform: translate (-50%, -50%);
      */
      width: 400px;
      height: 400px;
      text-align: center;
      line-height: 400px;
      color: #fff;
      font-size: 34px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: sans-serif;
      box-sizing: border-box;
      background: linear-gradient(90deg,#4aa5cf,#2bdf61);
      background-size: 200%;
      border-radius: 200px;
      animation: animate 4s alternate infinite;


  }

  @keyframes animate
  {
      0%
      {
        background-position: 0%;
      }

    100%
      {
        background-position: 100%;
      }

  }
  
  a:before{
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      background: linear-gradient(90deg,#03a9f4,#41f45f);
      background-size: 400%;
      border-radius: 200px;
      filter: blur(2px);
  }
  
  