<!doctype html>
<!-- Imports  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script script src="../googleAPI/try.js"></script>

<html>

<head>
	<title>This is the title of the webpage!</title>
	<link rel = "stylesheet" href = "index.css">

<body>
	
	  

    <h1>Travel Finder:</h1>
    Twitter:<br><input type="text" name="Twitter" id="twit"></br>
    Instagram:<br><input type="text" name="Instagram" id="insta"></br>
	Facebook:<br><input type="text" name="Facebook" id="fb"></br>
	<br><input type=button onClick="location.href='loading.html'">Sending</button></br>
    <br><button onclick="getData()">Refresh</button></br>
	<div id="users"></div>
	<br><br>
	<div>
		<a href="#">take me somewhere</a>
		</div>

</body>


</html>
