<!doctype html>
<!-- Imports  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='index.css')}}">

<html>

<head>
    <title>This is the title of the webpage!</title>
    <title>Loading ( ͡° ͜ʖ ͡°) </title>
</head>

<body onload="requestData()">
    <div class="loading">loading results...</div>

    <style>
        /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
        #map {
            height: 80%;
            width: 50%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 80%;
            margin: 0;
            padding: 0;
        }
    </style>
</body>

</html>
